<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>evodesigns</title>
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>

  <div class="cursor"></div>





  <div id="navbar">

    <div class = "stickylogo"><img src="static/images/tempLogo.svg" alt="logo" class ="logo"></div>

    <div id="Dropdown" class="dropdown-content">
      <a href="#">work</a>
      <a href="#">play</a>
      <a href="#">about</a>
      <a href="#">resume</a>
    </div>
  </div>

  <div class="work">
    <li>
      <div class="projects">
        <h1> Project Name </h1>
        <h2> Category </h2>
        <h2> Number </h2>
        <p> Bio </p>
      <div class="projects">
    </li>







  <script src="static/js/index.js"></script>


</body>
</html>
